@font-face {font-family: "HansomFYW01-Bold"; src: url("//db.onlinewebfonts.com/t/ce857f6c437ac98353de7b4175916a1c.eot"); src: url("//db.onlinewebfonts.com/t/ce857f6c437ac98353de7b4175916a1c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ce857f6c437ac98353de7b4175916a1c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ce857f6c437ac98353de7b4175916a1c.woff") format("woff"), url("//db.onlinewebfonts.com/t/ce857f6c437ac98353de7b4175916a1c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ce857f6c437ac98353de7b4175916a1c.svg#HansomFYW01-Bold") format("svg"); } 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    /* outline: 1px dashed red; */
    list-style: none;
    font-size: 12pt;
    text-decoration: none;
    color: white;
    border: none;
    font-family: "HansomFYW01-Bold";
    font-style: italic;
}

body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
    .EstruturaGeral{
        background-image: url(./IMG/45626725_923455577845397_1016915101482336273_n.jpg);
        background-position: top;
        background-size: cover;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 95% 95% 100%;
        grid-template-rows: 100%;

        scroll-snap-type: x mandatory;
        overflow-x: scroll;

        position: relative;
    }
        .EstruturaGeral .Logo{
            /* background: green; */
            position: fixed;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 15%;

            color: #FFFFF0;
            z-index: 7;
        }
            .EstruturaGeral .Logo p{
                font-size: 23pt;
                font-weight: bold;
            }
            .EstruturaGeral .Logo h1{
                font-size: 8.5pt;
                letter-spacing: 2px;
            }
        .EstruturaGeral .Logo .LogoMain{
            position: relative;
            top: 0;
            left: 0;
            /* background: #ff000059; */
            width:73px;
            height: 100%;
        }
            .EstruturaGeral .Logo .LogoMain p#p1{
                position: absolute;
                top: 10%;
                right: 24px;

                font-size: 50pt;
                font-style: normal;
                transform: rotate(-45deg);
            }
            .EstruturaGeral .Logo .LogoMain p#p2{
                position: absolute;
                top: 10%;
                right: 10px;

                font-size: 50pt;
                font-style: normal;
                transform: rotateY(-180deg)
                rotate(-45deg);
            }
            .EstruturaGeral button{
                background: none;

                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 20;

            }
                .EstruturaGeral button .right1{
                    font-size: 30pt;
                    background: linear-gradient(-90deg, #e18825, rgba(238, 232, 67, 0));
                    color: #360087;

                }
                .EstruturaGeral button .right2{
                    font-size: 30pt;
                    background: linear-gradient(-90deg, #FFFFF0cc, rgba(238, 232, 67, 0));
                    color: #e18825;
                }

[data-colorlogo].Colored p{
    color: #360087;
}
[data-colorlogo].Colored h1{
    color: #e18825;
}


/* ///////////////////////////////////////////////////////////// */

        .EstruturaGeral .PageOne{
            background: #360087cc;
            width: 100%;
            height: 100%;

            grid-column: 1;

            position: relative;


            scroll-snap-align: start;
        }
                .EstruturaGeral .PageOne .RedesSociais{
                    border-radius: 10px;

                    width: 95%;
                    height: 12%;

                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 200% 100%;
                    justify-content: center;
                    align-items: center;

                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                }
                    .EstruturaGeral .PageOne .RedesSociais .BlocoText{
                        width: 100%;
                        height: 100%;

                        grid-column: 1 / -1;
                        grid-row: 1;
                    }
                        .EstruturaGeral .PageOne .RedesSociais .BlocoText p{
                            font-size: 23pt;
                            text-align: center;
                        }
                            .EstruturaGeral .PageOne .RedesSociais .BlocoText p + p{
                                font-size: 15pt;
                                padding-top: 10%;

                                position: relative;
                            }
                                .EstruturaGeral .PageOne .RedesSociais .BlocoText p + p::after{
                                    content: "";
                                    position: absolute;
                                    top: 30%;
                                    left: 50%;
                                    transform: translateX(-50%);

                                    width: 30%;
                                    height: 1px;

                                    background: #e18825;
                                }
                    .EstruturaGeral .PageOne .RedesSociais .ContainerButtonRedes{
                        display: grid;
                        grid-template-columns: repeat(4, calc(100% / 4 - 5px));
                        grid-template-rows: 100%;
                        justify-content: space-around;

                        width: 100%;
                        height: 100%;
                    }
                    .EstruturaGeral .PageOne .RedesSociais a .BlocoRede{
                        background: linear-gradient(60deg,rgba(255, 255, 240, 0.8), rgba(177, 177, 177, 0.8));
                        width: 100%;
                        height: 100%;

                        grid-row: 2;

                        border-radius: 10px;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                        .EstruturaGeral .PageOne .RedesSociais .BlocoRede .bi{
                            font-size: 30pt;
                            color: rgb(54, 0, 135);
                        }
                .EstruturaGeral .PageOne .LinesAction{
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    z-index: 1;
                }
                    .EstruturaGeral .PageOne .LinesAction p{
                        color: #e18825;
                        position: absolute;
                        font-style: normal;
                        font-family: 'Roboto', sans-serif;
                    }
                    .EstruturaGeral .PageOne .LinesAction #LineZero{
                        bottom: 20%;
                        left: 0;

                        font-size: 7pt;
                    }
                    .EstruturaGeral .PageOne .LinesAction #LineOne{
                        top: 25%;
                        left: 0;

                        font-size: 7pt;
                    }
                    .EstruturaGeral .PageOne .LinesAction #LineTwo{
                        top: 30%;
                        left: 0;

                        font-size: 10pt;
                    }
                    .EstruturaGeral .PageOne .LinesAction #LineThree{
                        top: 20%;
                        right: 0;

                        font-size: 12pt;
                    }


/* ////////////////////////////////////////////////////////////////// */

        .EstruturaGeral .PageTwo{
            background: linear-gradient(180deg, rgba(224, 135, 0, 0.8), #e18825cc, rgba(238, 232, 67, 0.5));
            width: 100%;
            height: 100%;

            grid-column: 2;
            position: relative;


            scroll-snap-align: start;
        }
            .EstruturaGeral .PageTwo .ContainerPageTwo{
                background: none;
                width: 100%;
                height: 100%;

                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 50% 25% 25%;
            }
                .EstruturaGeral .PageTwo .ContainerPageTwo .AreaFoto{
                    width: 100%;
                    height: 100%;

                    position: relative;
                }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaFoto .DivFoto{
                        background-image: url(./IMG/falling-notebook-dois-Laranja.png);
                        background-size: 70%;
                        background-repeat: no-repeat;
                        background-position: bottom;

                        width: 90%;
                        height: 90%;

                        position: absolute;
                        bottom: 50%;
                        left: 50%;
                        transform: translate(-50%,50%);

                        z-index: 3;
                    }
                .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText{
                    width: 100%;
                    height: 100%;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;
                }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText h1{
                        font-size: 23pt;
                        font-style: normal;
                    }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText p{
                        font-size: 14pt;
                        text-align: center;
                        font-style: normal;
                    }
                .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 3;
                }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba .BodyButton{
                        width: 80%;
                        height: 40%;
                        position: absolute;
                        top: 35%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: 1px solid #360087;
                        border-radius: 50px;

                        background: none;
                    }
                        .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba .BodyButton p{
                            font-style: normal;
                            font-size: 18pt;
                            color: #360087
                            ;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
            .EstruturaGeral .PageTwo .LinesAction{
                position: absolute;
                top: 0;
                left: 0;

                overflow: hidden;

                width: 100%;
                height: 100%;

                z-index: 2;
            }
                .EstruturaGeral .PageTwo .LinesAction p{
                    color: #360087;
                    position: absolute;
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }
                .EstruturaGeral .PageTwo .LinesAction #LineZero{
                    bottom: 25%;
                    left: 0;

                    font-size: 12pt;
                }
                .EstruturaGeral .PageTwo .LinesAction #LineOne{
                    bottom: 8%;
                    right: 0;

                    font-size: 7pt;
                }
                .EstruturaGeral .PageTwo .LinesAction #LineThree{
                    top: 20%;
                    right: 0;

                    font-size: 12pt;
                }
                    .EstruturaGeral .PageTwo .LinesAction #LineThree #SpanLineThree{
                        display: none;
                    }

/* ////////////////////////////////////////////////////////////////// */
        .EstruturaGeral .PageThree{
            background: linear-gradient(60deg,rgba(255, 255, 240, 0.8), rgba(177, 177, 177, 0.8));
            width: 100%;
            height: 100%;

            grid-column: 3;
            position: relative;


            scroll-snap-align: start;
        }
            .EstruturaGeral .PageThree .MyPhoto{
                background-image: url(./IMG/me.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 80%;
                height: 50%;
                border-radius: 50px 0 0 10px;

                position: absolute;
                top: 40%;
                right: 0;
                transform: translateY(-50%);
            }
            .EstruturaGeral .PageThree .AboutMe{
                width: 80%;
                height: auto;

                position: absolute;
                bottom: 8%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 23;
            }
                .EstruturaGeral .PageThree .AboutMe li{
                    margin-bottom: 5px;
                }
                .EstruturaGeral .PageThree .AboutMe p{
                    font-size: 14pt;
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                    color: rgba(0, 0, 0, 0.8);
                }
            .EstruturaGeral .PageThree .LinesAction{
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                z-index: 2;
            }
                .EstruturaGeral .PageThree .LinesAction p{
                    color: #e18825;
                    position: absolute;
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }
                .EstruturaGeral .PageThree .LinesAction #LineZero{
                    bottom: 8%;
                    right: 0;

                    font-size: 12pt;
                }
                .EstruturaGeral .PageThree .LinesAction #LineOne{
                    bottom: 12%;
                    right: 0;

                    font-size: 7pt;
                }
                .EstruturaGeral .PageThree .LinesAction #LineTwo{
                    top: 30%;
                    left: 0;

                    font-size: 10pt;
                }
                    .EstruturaGeral .PageThree .LinesAction #LineTwo .bi{
                        color: #e18825;
                    }
                .EstruturaGeral .PageThree .LinesAction #LineThree{
                    color: #360087;
                    top: 20%;
                    left: 0;

                    font-size: 12pt;
                }
                .EstruturaGeral .PageThree .AssinDev{
                    position: fixed;
                    width: 100%;
                    height: 7%;
                    bottom: 0;
                    left: 0;
                    
                    opacity: 0.5;
        
                    z-index: 7;
                }
                    .EstruturaGeral .PageThree .AssinDev p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 10pt;
                        text-align: center;
                        width: 70%;
                        height: 50%;
                        padding-top: 3%;
        
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
        
                        border-top: #FFFFF0 1px solid;
                    }


@media (min-width: 1200px) {
    .EstruturaGeral{
        grid-template-columns: 100%;
        grid-template-rows: 95% 95% 100%;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
    }
        .EstruturaGeral .Logo{
            justify-content: flex-start;
        }
            .EstruturaGeral .Logo p{
                font-size: 30pt;
            }
            .EstruturaGeral .Logo h1{
                font-size: 11pt;
            }
        .EstruturaGeral .Logo .LogoMain{
            width:100px;
        }
            .EstruturaGeral .Logo .LogoMain p#p1{
                top: -6%;
                right: 29px;
                font-size: 70pt;
            }
            .EstruturaGeral .Logo .LogoMain p#p2{
                top: -6%;
                right: 10px;
                font-size: 70pt;
            }
        .EstruturaGeral a#BotaoNavegacao{
            display: none;
        }

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

        .EstruturaGeral .PageOne{
            grid-column: 1;
            grid-row: 1;
        }
        .EstruturaGeral .PageOne .RedesSociais{
            width: 60%;
            height: 15%;

            grid-template-rows: 300% 100%;
            top: 25%;
        }
        .EstruturaGeral .PageOne .RedesSociais .BlocoText{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
            .EstruturaGeral .PageOne .RedesSociais .BlocoText p{
                width: 95%;
                font-size: 45pt;
            }
                .EstruturaGeral .PageOne .RedesSociais .BlocoText p + p{
                    width: auto;
                    padding-top: 4%;
                }
                .EstruturaGeral .PageOne .RedesSociais .ContainerButtonRedes{
                    margin: 0 auto;
                    width: 55%;
                    height: 70%;
                }
        .EstruturaGeral .PageOne .RedesSociais a .BlocoRede{
            background: linear-gradient(60deg,rgba(255, 255, 240, 0.8), rgba(177, 177, 177, 0.8));
            width: 100%;
        }
            .EstruturaGeral .PageOne .RedesSociais .BlocoRede .bi{
                font-size: 30pt;
                color: rgb(54, 0, 135);
            }
                .EstruturaGeral .PageOne .RedesSociais .BlocoRede:hover .bi{
                    color: white;
                }
            .EstruturaGeral .PageOne .RedesSociais a .b1redes:hover{
                background: linear-gradient(30deg,rgb(252, 159, 81), rgb(247, 48, 51),rgb(220, 53, 88),rgb(159, 61, 146));
            }
            .EstruturaGeral .PageOne .RedesSociais a .b2redes:hover{
                background: rgb(63, 87, 147);
            }
            .EstruturaGeral .PageOne .RedesSociais a .b3redes:hover{
                background: rgb(37, 209, 101);
            }
            .EstruturaGeral .PageOne .RedesSociais a .b4redes:hover{
                background: rgb(42, 169, 224);
            }
        .EstruturaGeral .PageOne .LinesAction #LineThree{
            top: 20%;
            right: 0;
            
            font-size: 14pt;
        }

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

        .EstruturaGeral .PageTwo{
            grid-column: 1;
            grid-row: 2;
        }
            .EstruturaGeral .PageTwo .ContainerPageTwo{
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
            }
                .EstruturaGeral .PageTwo .ContainerPageTwo .AreaFoto{
                    grid-column: 2;
                    grid-row: 1 / -1;
                }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaFoto .DivFoto{
                        background-position: center;
                        background-size: 90%;
                    }
                .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText{
                    grid-column: 1;
                    grid-row: 1;
                    display: block;
                    position: relative;
                }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText h1{
                        font-size: 35pt;
                        position: absolute;
                        bottom: 70px;
                        left: 100px;
                    }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText p{
                        font-size: 14pt;
                        text-align: left;
                        position: absolute;
                        bottom: 20px;
                        left: 100px;
                    }
                .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba{
                    grid-column: 1;
                    grid-row: 2;
                }
                    .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba .BodyButton{
                        width: 45%;
                        height: 20%;
                        top: 0;
                        left: 100px;
                        transform: translate(0, 0);
                    }
                        .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba .BodyButton:hover{
                            background-color: #360087;
                        }
                            .EstruturaGeral .PageTwo .ContainerPageTwo .ButtonSaiba .BodyButton:hover p{
                                color: rgba(255, 255, 240, 0.8);
                            }
                .EstruturaGeral .PageTwo .LinesAction #LineThree #SpanLineThree{
                    color: #360087;
                    font-size: 12pt;
                    font-style: normal;
                }

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

        .EstruturaGeral .PageThree{
            grid-column: 1;
            grid-row: 3;
        }
        .EstruturaGeral .PageThree .MyPhoto{
            background-image: url(./IMG/me.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 35%;
            height: 75%;
            border-radius: 50px 10px 50px 10px;

            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
        }
        .EstruturaGeral .PageThree .AboutMe{
            width: 40%;
            height: auto;

            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateX(0)
            translateY(-50%);
        }
            .EstruturaGeral .PageThree .AboutMe ul{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
                .EstruturaGeral .PageThree .AboutMe li{
                    margin-bottom: 18px;
                }
            .EstruturaGeral .PageThree .AboutMe p{
                text-align: left;
                font-size: 18pt;
                font-style: normal;
                font-family: 'Roboto', sans-serif;
                color: rgba(0, 0, 0, 0.8);
            }
            .EstruturaGeral .PageThree .AssinDev{
                position: absolute;
                height: 10%;
            }
                .EstruturaGeral .PageThree .AssinDev p{
                    font-size: 10pt;
                    width: 40%;
                    height: 50%;
                    padding-top: 20px;

                }

            .EstruturaGeral .PageThree .LinesAction #LineZero{
                top: 18%;
                font-size: 18pt;
            }
            .EstruturaGeral .PageThree .LinesAction #LineOne{
                top: 23%;
                font-size: 12pt;
                color: #360087;
            }
            .EstruturaGeral .PageThree .LinesAction #LineTwo{
                font-size: 15pt;
                bottom: 20%;
                top: unset;
            }
            .EstruturaGeral .PageThree .LinesAction #LineThree{
                font-size: 15pt;
                color: #e18825;
                bottom: 30%;
                top: unset;
            }
}

@media (max-width: 1200px){ 
    .EstruturaGeral .PageOne .RedesSociais .BlocoText p{
        font-size: 40pt;
    }
        .EstruturaGeral .PageOne .RedesSociais .BlocoText p + p{
            font-size: 18pt;
        }

    .EstruturaGeral .PageOne .RedesSociais{
        width: 90%;
        height: 10%;

        grid-template-rows: 300% 100%;
        top: 30%;
    }
        .EstruturaGeral .PageOne .RedesSociais .ContainerButtonRedes{
            margin: 0 auto;
            width: 90%;
            height: 100%;
        }

    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaFoto .DivFoto{
        bottom: 30%;
    }

    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText h1{
            font-size: 40pt;
    }
    .EstruturaGeral .PageTwo .ContainerPageTwo .AreaText p{
            font-size: 20pt;
    }

    .EstruturaGeral .PageThree .MyPhoto{
        width: 70%;
        height: 60%;
        top: 45%;
    }
    .EstruturaGeral .PageThree .AboutMe p{
        font-size: 18pt;
    }
}